//
//  Secrets.xcconfig
//  TMDBLearning
//
//  Created by Laksh on 03/06/26.
//

TMDB_BEARER_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YWRhZGI5MjRmODMwMDFiYzQzMjI5OTcwNDU4YjUwMCIsIm5iZiI6MTc4MDM4MjEzMy44MDYwMDAyLCJzdWIiOiI2YTFlNzliNWRhMGMwZDAzY2IyNjVlYTkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.JILF3xrRPohX8D1c9lwY6o4RGqk2EnygCYidTkkfz7U
